<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Разметка</title>
	<link rel="stylesheet" href="layout.css">
</head>
<body>
	<header>
		<div class="header">
			<div class="layout-positioner">
			Header
			</div >
		</div>
			<div class="header-menu">
				<div class="layout-positioner">Menu</div>
			</div>
			<div class="header-promo clearfix">
				<div class="layout-positioner">
					<div class="layout-column ">Promo 1</div>
					<div class="layout-column ">Promo 2</div>
				</div>
			</div>

	</header>
	<main>
		<div class="layout-positioner clearfix">
			<div class="layout-column ">Left</div>
			<div class="layout-column main">Main</div>
			<div class="layout-column ">Right</div>
		</div>
	</main>
	<footer>
		<div class="layout-positioner">
			Footer
		</div>
	</footer>
</body>
</html>