/* Подслючаем шрифт "PT Sans Narrow" локально */
@font-face {
    font-family: "PT Sans Narrow";
    src:url(../fonts/ptsansnarrow.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PT Sans Narrow";
    src:url(../fonts/ptsansnarrowbold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

/* Задаем общие стили для страницы */
body{
    margin: 0;
    padding: 0;

    font-family:"PT Sans Narrow", Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color:#ffffff;

    background: #000 url("../img/main-background.png") no-repeat;
}

a{
    text-decoration: none;
}
.button{
    font:inherit;

    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #000000;

    border:none;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip:rect(0,0,0,0);
    overflow: hidden;
}
.button:hover,
.button:active,
.button:focus{
    background-color: #663d15;
}

/* Задаем общие стили для страницы INNER-PAGE*/
.inner-page{
    color:#000000;
    background:#f8f5f2 url("../img/section-fon.jpg") 0 0;
}
.inner-page .main-header{
    background-color: #000000;
    margin-bottom: 60px;
}

.inner-page .main-nav{
    flex-direction:row;
    align-items: flex-start;

}
.inner-page .main-header-logo{
    order:0;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}
.inner-page .user-navigation{
    margin-left: auto;
}
.page-title{
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 15px;
}
.breadcrumbs{
    list-style:none;
    margin: 0;
    padding: 0;
}
.breadcrumbs a{
    color:#000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus{
    text-decoration: underline;
}
.breadcrumbs-current{
    color:#aba9a7;
}
.catalog-columns{
    display: flex;
    justify-content: space-between;
}
.filters{
    width: 220px;
    outline: 1px solid red;
}
.filters-form fieldset{
    border:none;
}
.filters-form legend{
    font-size: 24px;
    left: 30px;
}
.filters-form p{
    line-height: 18px;
}
/*


*/
.filters-form input[type="radio"],
.filters-form input[type="checkbox"] {
    display: none;
}
/*ДЛЯ РАДИО*/
.filters-form input[type="radio"] + span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url("../img/radio-off.png") left top;
    margin-right: 10px;
    vertical-align: bottom;
}
.filters-form input[type="radio"]:checked + span{
    background:url("../img/radio-on.png") left top;
}

.filter-input:hover ~ label,
.filter-input:focus ~ label{
    color:#663d15;
}
/*ДЛЯ чекбокса*/
.filters-form input[type="checkbox"]+ span{
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border:2px solid #000000;
    margin-right: 10px;
    vertical-align: bottom;
}
.filters-form input[type="checkbox"]:checked+ span{
    background:url("../img/cross.svg") no-repeat 50% 50%;

}
.filter-input:disabled ~ label,
.filter-input:disabled + span{
    color: #000000;

    opacity: .5;
}
.catalog{
    width: 700px;
    outline: 1px solid red;
}
.catalog-list{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.catalog-item{
    background-color: #f8f8f8;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    outline: 1px solid red;
}
.catalog-item:nth-child(3n){
    margin-right: 0;
}
.catalog-item:hover{
    box-shadow:0 0 10px rgba(0,0,0,.2);
}
.catalog-item a {
    color: #000000;
}
.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}
.catalog-category{
    text-transform: none;
}
.catalog-item-price b{
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    background-color: #e5e5e5;
}
.catalog-item-price .button{
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}
.pagination-list{
    list-style:none;
    margin: 0;
    padding: 0;

}
.pagination-item{
    color:#ffffff;
    line-height: 18px;
    
    background-color: #000000;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active{
    background-color: #663d15;
}
.pagination-item-current a{
    color: #000000;

    background-color: #ffffff;
}
.inner-page .main-footer{
    margin-top: 45px;
}
.current a:focus,
.current a:hover,
.current a:active{
    color: #000000;

    background-color: #ffffff;
}
/* Задаем  стили для Header */
.main-nav{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    display:flex;
    flex-direction:column;
    align-items:center;
    outline:1px solid red;
    margin-bottom: 65px;
}

.main-header-logo{
    outline:1px solid red;
    order:2;

    width: 371px;
    height: 155px;
}

.site-navigation,
.user-navigation{
    list-style:none;
    outline:1px solid red;
}
.site-navigation{
    width:540px;
    margin: 0;
    padding: 0;

}
.user-navigation{
    width: 140px;
    margin: 0;
    padding: 0;
}
.site-navigation a,
.user-navigation a{
    color:#ffffff;
}
.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 60px;
    background-color: #000000;
    outline:1px solid red;
}
.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;

}
 .container{
    width: 940px;
    padding:0 10px;
    margin: auto;


    outline:1px solid red;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #242424;
}
/* Задаем  стили для Body */
/* Задаем  стили для section Features */
.features{
    margin-bottom: 80px;
}
.features-list{
    list-style:none;
    text-align:center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}
.features-item{
    width: 300px;
    outline:1px solid red;
}
.features-item h3{
    font-size: 30px;
    line-height: 42px;
}

/* Задаем  стили для section News and Gallery */
.index-columns{
    display: flex;
    justify-content: space-between;
    color:#000000;

    background:#f8f5f2 url("../img/section-fon.jpg") 0 0 ;
    padding:50px 80px;
    margin-bottom: 35px;
    outline:1px solid red;
}
.index-columns h2{
    font-size: 30px;
    left: 42px;
}
.news,.contacts{
    width: 380px;
    outline:1px solid red;
}
.gallery,.appointment{
    width: 300px;
    outline:1px solid red;
}
.news-list{
    list-style:none;
}
.news-list time{
    text-transform: none;
}
/* Задаем  стили для section Contacts and Appointment */
.appointment-item input{
    font: inherit;

    background-color: transparent;
    border:2px solid #000101;
}
.appointment-item input:focus{
    border-color:#663d15;
}
/* Задаем  стили для FOOTER */
.main-footer{
    margin-top: 65px;
    padding:65px 0;
    color:#ffffff;

    background-color: #232323;
}
.main-footer .container{
    display: flex;
}
.footer-contacts{
    width: 320px;
    outline:1px solid red;
    margin: 0;
    margin-right: 80px;
}
.footer-contacts a{
    color: #ffffff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}
.social{
    width: 145px;
    text-align: center;
    margin: 0;
    outline:1px solid red;
}
.social-list{
    list-style:none;
}
.social-item a{
    color: #ffffff;
}
.footer-copyright{
    width: 150px;
    outline:1px solid red;
    margin: 0;
    margin-left: auto;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus{
    color:#000000;

    background-color: #ffffff;
}
/* Задаем  стили для MODAL  */
.modal{
    color: #000000;

    background:#f8f5f2 url("../img/section-fon.jpg") 0 0 ;
}
/* Задаем  стили для MODAL FORM */
.modal h2{
    font-size: 30px;
    line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    font:inherit;
    text-transform: uppercase;
    color:red;

    border:2px solid #000000;
    background-color: transparent;
}
.login-form input:focus{
    border-color:#663d15;
}
.login-checkbox:hover,
.login-checkbox:focus{
    color:#663d15;
}
.restore{
    color: #000000;
    text-decoration: underline;
}
.restore:focus,
.restore:hover{
    text-decoration: none;
}

/* Размечаем CATALOG_ITEm */
.product-photos{
    width: 460px;
}
.product-photos-preview{
    list-style: none;
}
.product-photo-full{
    box-shadow: 0 0 10px 2px rgba(0,0,0,.5);
}
.product-photos-preview li{
    box-shadow: 0 0 10px 2px rgba(0,0,0,.5);
}
.product-article{
    color:#aeaeae;
    text-align: right;
}
.product-price b{
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    background-color: #e5e5e5;
}
.product-info{
    width: 390px;
}
.product-info h3{
    font-size: 24px;
    line-height: 30px;
}
.product-info ul{
    list-style: none;
}


/* Задаем общие стили для страницы PRICE.HTML*/
.about-us b{
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.about-us h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
.about-us-product{
    width: 300px;
    outline: 1px solid red;
}
.about-us-list {
    list-style: none;
}
.masters-price{
    width: 460px;
    outline: 1px solid red;
}